<div class="login-container">
  <form (ngSubmit)="dangNhap()" #loginForm="ngForm">
    <label for="username">USERNAME</label>
    <input type="text" id="username" name="username" [(ngModel)]="username"  required>

    <label for="password">PASSWORD</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" required>

    <button type="submit">Đăng nhập</button> <br>
   <a  [routerLink]="['/user/register']" [routerLinkActive]="'active-link'">Đăng ký tại đây!!!</a>
  </form>
</div>

