  <!-- GioiThieu -->
  <div class="container-intro">
    <h4>VÌ SAO BẠN CHỌN QUY NHON GO TRAVEL?</h4>
    <div class="intro">
      <div>
        <img src="../../assets/img/gotravel1.png" alt="">
        <h4>ĐẶT CHỖ ONLINE</h4>
        <span>Bạn chỉ cần chọn tour mong muốn và tiến hành giữ
          chỗ, Quy Nhơn Go Travel sẽ gọi lại bạn ngay tư vấn
          trong vòng 30 phút</span>
      </div>
      <div>
        <img src="../../assets/img/gotravel2.png" alt="">
        <!-- <img src="../../../assets/img/6besthotel.jpg" alt=""> -->
        <h4>LAND TOUR QUY NHƠN</h4>
        <span>Quy Nhơn Go Travel là đơn vị cung cấp Land Tour
          Quy Nhơn - Phú Yên hàng đầu, là đại diện thương
          hiệu của các đối tác tại Quy Nhơn</span>
      </div>
      <div>
        <img src="../../assets/img/gotravel3.png" alt="">
        <h4>TƯ VẤN 24/7</h4>
        <span>Không còn lo lắng bởi Quy Nhơn Go Travel sẽ luôn
          bên bạn trong suốt hành trình, giúp chuyến đi của bạn
          được trọn vẹn, vui vẻ. Hotline: 0899 0899 40</span>
      </div>
    </div>
  </div>

  <!-- Tour Quy Nhon 1 ngay -->
  <div class="container-touroneday">
    <div class="intro-touroneday">
      <h5>TOUR QUY NHƠN 1 NGÀY <a href="" [routerLink]="['/home/tour/TourDM/16']"
        [routerLinkActive]="'active-link'" >Xem thêm >></a></h5>
      <h6>Tour Quy Nhơn 1 ngày khởi hành hàng ngày đón tại Quy Nhơn</h6>
    </div>
    <div class="tour-oneday">
      <div class="tour">
        <a href="#" [routerLink]="['/home/tour/detail/3']" [routerLinkActive]="'active-link'">
          <img src="../../assets/img/kyco.jpg" alt="">
          <h5>Tour Kỳ Co Eo Gió 1 ngày: Khám phá thiên đường biển đảo Quy Nhơn</h5>
          <span>1 ngày</span>
          <br>
          <span>Khởi hành: Hàng ngày</span>
          <h4>725,000đ/khách</h4>
        </a>
      </div>
      <div class="tour">
        <a href="#" [routerLink]="['/home/tour/detail/4']" >
          <img src="../../assets/img/muidien.jpg" alt="">
          <h5>Tour Quy Nhơn Phú Yên 1 ngày: Vẻ đẹp thiên nhiên khó cưỡng</h5>
          <span>1 ngày</span>
          <br>
          <span>Khởi hành: Hàng ngày</span>
          <h4>685,000đ/khách</h4>
        </a>
      </div>
      <div class="tour">
        <a href="#" [routerLink]="['/home/tour/detail/5']" >
          <img src="../../assets/img/annhon.jpg" alt="">
          <h5>Tour Làng nghề Bình Định 1 ngày: Làng nghề trên kinh đô xưa</h5>
          <span>1 ngày</span>
          <br>
          <span>Khởi hành: Hàng ngày</span>
          <h4>695,000đ/khách</h4>
        </a>
      </div>
    </div>
  </div>

  <!-- Tour Quy Nhon dai ngay -->
  <div class="container-tourdays">
    <div class="intro-tourdays">
      <h5>TOUR QUY NHƠN DÀI NGÀY <a href="" href="" [routerLink]="['/home/tour/TourDM/18']"
        [routerLinkActive]="'active-link'">Xem thêm >></a></h5>
      <h6>Các tour Quy Nhơn dài ngày trọn gói - lịch trình chuẩn tại Quy Nhơn Go Travel</h6>
    </div>
    <div class="tour-days">
      <div class="tour">
        <a href="#" [routerLink]="['/home/tour/detail/6']" >
          <img src="../../assets/img/kyco1.jpg" alt="">
          <h5>Tour Kỳ Co 2 ngày 1 đêm: Thiên đường nghỉ dưỡng tại Quy Nhơn</h5>
          <span>2 ngày 1 đêm</span>
          <br>
          <span>Khởi hành: Theo yêu cầu</span>
          <h4>1,790,000đ/khách</h4>
        </a>
      </div>
      <div class="tour">
        <a href="#" [routerLink]="['/home/tour/detail/7']" >
          <img src="../../assets/img/nhonly.jpg" alt="">
          <h5>Tour Kỳ Co 2 ngày 1 đêm: Thiên đường nghỉ dưỡng tại Quy Nhơn</h5>
          <span>2 ngày 1 đêm</span>
          <br>
          <span>Khởi hành: Theo yêu cầu</span>
          <h4>595,000đ/khách</h4>
        </a>
      </div>
      <div class="tour">
        <a href="#" [routerLink]="['/home/tour/detail/8']" >
          <img src="../../assets/img/xunau1.jpg" alt="">
          <h5>Tour Kỳ Co 2 ngày 1 đêm: Thiên đường nghỉ dưỡng tại Quy Nhơn</h5>
          <span>2 ngày 1 đêm</span>
          <br>
          <span>Khởi hành: Theo yêu cầu</span>
          <h4>4,190,000đ/khách</h4>
        </a>
      </div>
    </div>
  </div>

  <!-- Land Tour Quy Nhon -->
  <div class="container-land">
    <div class="land-intro">
      <h4>Land tour Quy Nhơn đẳng cấp <a href="">Xem thêm >></a></h4>
      <h6>Giá Land tour tốt nhất dành cho các công ty lữ hành</h6>
    </div>
    <div class="land">
      <div class="land-main">
        <a href="#">
          <img src="../../assets/img/thuexe1.jpg" alt="">
        <div class="land-text">
          <span>Quy Nhơn Go Booking</span>
          <h5>Thuê xe du lịch Quy Nhơn</h5>
          <span>Giá tốt nhất cho các công ty du lịch</span>
        </div>
        </a>
      </div>
      <div class="land-main">
        <a href="#"><img src="../../assets/img/thuexe2.jpg" alt="">
        <div class="land-text">
          <span>Quy Nhơn Go Team Building</span>
          <h5>Teambuilding Quy Nhơn</h5>
          <span>Cung cấp Team Building + Sự kiện Quy Nhơn</span>
        </div>
        </a>
      </div>
    </div>
  </div>

  <!-- Diem den hap dan -->
  <div class="container-view">
    <div class="view-intro">
      <h4>Điểm đến hấp dẫn tại Quy Nhơn <a href="">Xem thêm >></a></h4>
      <h6>Lên rừng xuống biển, cùng Quy Nhơn Go Travel khám phá</h6>
    </div>
    <div class="view">
      <div class="view-main">
        <a href="../../assets/img/honkho.jpg"><img src="../../assets/img/honkho.jpg" alt=""></a>
        <div class="view-text">
          <h4>Hòn Khô</h4>
        </div>
      </div>
      <div class="view-main">
        <a href="../../assets/img/TaySon.jpg"><img src="../../assets/img/TaySon.jpg" alt=""></a>
        <div class="view-text">
          <h4>Tây Sơn</h4>
        </div>
      </div>
      <div class="view-main">
        <a href="../../assets/img/CuLaoXanh.jpg"><img src="../../assets/img/CuLaoXanh.jpg" alt=""></a>
        <div class="view-text">
          <h4>Cù Lao Xanh</h4>
        </div>
      </div>
      <div class="view-main">
        <a href="../../assets/img/PhuYen.jpg"><img src="../../assets/img/PhuYen.jpg" alt=""></a>
        <div class="view-text">
          <h4>Phú Yên</h4>
        </div>
      </div>
    </div>
  </div>


<!-- Tin tuc -->
<div class="container-news">
  <div class="news-intro">
    <h4>Tin tức mới nhất hiện nay <a href="">Xem thêm >></a></h4>
    <h6>Thành phố biển Quy Nhơn - Đẹp quên lối về</h6>
  </div>
  <div class="news-main">
    <div class="news">
      <a href="#">
        <div class="news-img"><img src="../../assets/img/6besthotel.jpg" alt=""></div>
        <div class="news-text">
          <h6>Top 6 khách sạn 3 sao Quy Nhơn gần biển giá rẻ và chất lượng</h6>
          <span>Khách sạn 3 sao Quy Nhơn – Rất nhiều bãi biển đẹp, địa điểm du lịch hot tại thành phố Quy Nhơn –
          Bình Định đang chờ đón bạn. Ngắm nhìn mặt trời mọc mỗi sáng để đón tia nắng...</span>
        </div>
      </a>
    </div>
    <div class="news">
      <a href="#">
        <div class="news-img"><img src="../../assets/img/6besthotel.jpg" alt=""></div>
        <div class="news-text">
          <h6>Top 6 khách sạn 3 sao Quy Nhơn gần biển giá rẻ và chất lượng</h6>
          <span>Khách sạn 3 sao Quy Nhơn – Rất nhiều bãi biển đẹp, địa điểm du lịch hot tại thành phố Quy Nhơn –
          Bình Định đang chờ đón bạn. Ngắm nhìn mặt trời mọc mỗi sáng để đón tia nắng...</span>
        </div>
      </a>
    </div>
    <div class="news">
      <a href="#">
        <div class="news-img"><img src="../../assets/img/6besthotel.jpg" alt=""></div>
        <div class="news-text">
          <h6>Top 6 khách sạn 3 sao Quy Nhơn gần biển giá rẻ và chất lượng</h6>
          <span>Khách sạn 3 sao Quy Nhơn – Rất nhiều bãi biển đẹp, địa điểm du lịch hot tại thành phố Quy Nhơn –
          Bình Định đang chờ đón bạn. Ngắm nhìn mặt trời mọc mỗi sáng để đón tia nắng...</span>
        </div>
      </a>
    </div>
    <div class="news">
      <a href="#">
        <div class="news-img"><img src="../../assets/img/6besthotel.jpg" alt=""></div>
        <div class="news-text">
          <h6>Top 6 khách sạn 3 sao Quy Nhơn gần biển giá rẻ và chất lượng</h6>
          <span>Khách sạn 3 sao Quy Nhơn – Rất nhiều bãi biển đẹp, địa điểm du lịch hot tại thành phố Quy Nhơn –
          Bình Định đang chờ đón bạn. Ngắm nhìn mặt trời mọc mỗi sáng để đón tia nắng...</span>
        </div>
      </a>
    </div>
  </div>
</div>


<!-- Feedback -->
<div class="container-feedback">
  <div class="feedback-intro">
    <h3>Khách hàng nói về Quy Nhơn Go Travel</h3>
  </div>
  <div class="feedback-main">
    <div class="feedback">
      <h4>"Dịch vụ tuyệt vời"</h4>
      <span>Cảm ơn em Anh Tuấn đã chụp ảnh rất có tâm cho cả nhà, giúp mọi người lưu lại được nhiều
        khoảnh khắc đẹp ở vùng đất đáng yêu này! Cảm ơn em Huy đẹp trai cùng Quy Nhơn Go Travel
        đã có 1 tour bổ ích, hợp lí, ăn ngon – ngủ tốt cho cả đoàn. Một chuyến đi vô cùng ý nghĩa</span> <br>
        <div class="info-feedback">
          <div class="customer-img"><img src="../../assets/img/khachhang2.jpg" alt=""></div>
        <div class="customer-info">
          <span>Chị: Nguyễn Diễm Quỳnh </span> <br>
          <span> Hồ Chí Minh</span> <br>
          <span>Đi Quy Nhơn tháng 4/2019</span>
        </div>
      </div>
    </div>
      <div class="feedback">
        <h4>"Dịch vụ tuyệt vời"</h4>
        <span>Cảm ơn em Anh Tuấn đã chụp ảnh rất có tâm cho cả nhà, giúp mọi người lưu lại được nhiều
          khoảnh khắc đẹp ở vùng đất đáng yêu này! Cảm ơn em Huy đẹp trai cùng Quy Nhơn Go Travel
          đã có 1 tour bổ ích, hợp lí, ăn ngon – ngủ tốt cho cả đoàn. Một chuyến đi vô cùng ý nghĩa</span> <br>
          <div class="info-feedback">
            <div class="customer-img"><img src="../../assets/img/khachhang2.jpg" alt=""></div>
          <div class="customer-info">
            <span>Chị: Nguyễn Diễm Quỳnh </span> <br>
            <span> Hồ Chí Minh</span> <br>
            <span>Đi Quy Nhơn tháng 4/2019</span>
          </div>
        </div>
    </div>
      <div class="feedback">
        <h4>"Dịch vụ tuyệt vời"</h4>
        <span>Cảm ơn em Anh Tuấn đã chụp ảnh rất có tâm cho cả nhà, giúp mọi người lưu lại được nhiều
          khoảnh khắc đẹp ở vùng đất đáng yêu này! Cảm ơn em Huy đẹp trai cùng Quy Nhơn Go Travel
          đã có 1 tour bổ ích, hợp lí, ăn ngon – ngủ tốt cho cả đoàn. Một chuyến đi vô cùng ý nghĩa</span> <br>
          <div class="info-feedback">
            <div  class="customer-img"><img src="../../assets/img/khachhang2.jpg" alt=""></div>
          <div class="customer-info">
            <span>Chị: Nguyễn Diễm Quỳnh </span> <br>
            <span> Hồ Chí Minh</span> <br>
            <span>Đi Quy Nhơn tháng 4/2019</span>
          </div>
        </div>
    </div>
  </div>
</div>



