/* CSS Tour */
/* .container{
  margin-top: 50px;
}
.container-main{
  display: flex;
  border: 1px solid grey;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 60px;
  border-radius: 10px;
}
.photo img{
  height: 180px;
  width: 300px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.main h5{
  font-weight: bold;
  margin-left: 15px;
  margin-top: 10px;
}
.content1{
  display: flex;
}
.content2{
  display: flex;
}
.sale{
  background-color: orangered;
  padding: 5px 5px;
  text-align: center;
  border-radius: 10px;
}
.item1{
  margin-left: 20px;
  border-top: 3px solid gray;
}
.item2{
  margin-left: 110px;
  margin-top: 20px;
}
.item2 h4{
  color: rgb(209, 31, 31);
}
.item2 button{
  width: 150px;
  height: 40px;
  border: none;
  background-color: rgb(235, 235, 6);
  border-radius: 5px;
} */
/* css tour một ngày */
.container-touroneday{
  margin-top: 50px;
  text-align: left;
}
.intro-touroneday h5, h6{
  padding-left: 100px;
}
.intro-touroneday h5{
  color: #19175c;
}
.container-touroneday a{
  font-size: 15px;
}
.tour-oneday {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cột có chiều rộng bằng nhau */
  grid-gap: 15px; /* Khoảng cách giữa các cột */
  height: auto;
  margin-left: 100px;
  margin-right: 50px;
}
.tour-oneday .tour a{
  text-decoration: none;
}
.tour-oneday .tour{
  border: 1px solid rgb(155, 152, 152);
  border-radius: 20px;
  width: 350px;
}
.tour-oneday .tour h5, span, h4{
  padding: 10px;
}
.tour-oneday .tour h5{
  color: #1c19ca;
}
.tour-oneday .tour span{
  font-size: 13px;
}
.tour-oneday .tour h4{
  color: rgb(172, 18, 18);
  text-align: right;
}
.tour-oneday .tour img {
  height: 200px;
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.tour-oneday .tour:hover img{
  filter: brightness(70%);
}
.tour-oneday .tour:hover h5{
  color: #fdb417;
}
.tour-oneday .tour:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
