<div *ngIf="danhmuc">
  <h1>{{danhmuc.name}}</h1>
  <div class="container" >
    <img style="height: 300px;" width="800px" src="../../../../assets/img/PhuYen.jpg"> <br>
    <img style="height: 200px;" width="200px" src="../../../../assets/img/ky-co-quy-nhon.jpg">
    <img style="height: 200px;" width="200px" src="../../../../assets/img/quynhon2.jpg">
    <img style="height: 200px;" width="200px" src="../../../../assets/img/honkho.jpg">
    <img style="height: 200px;" width="200px" src="../../../../assets/img/thuexe2.jpg">
  </div>

  <div class="mota">
    <span>{{danhmuc.description}}</span>
  </div>

</div>
