<!-- Dashboard Stats -->
<div class="menu row">
  <div class="col-md-2">
      <div class="card text-center">
          <div class="item  card-body">
              <p class="card-title">KỲ CO</p>
              <h1>25</h1>
              <span>Last 7 days</span>
          </div>
      </div>
  </div>
  <div class="col-md-2">
      <div class="card text-center">
          <div class="item card-body">
              <p class="card-title">PHÚ YÊN</p>
              <h1>400</h1>
              <span>Last 5 days</span>
          </div>
      </div>
  </div>
  <div class="col-md-2">
      <div class="card text-center">
          <div class="item card-body">
              <p class="card-title">EO GIÓ</p>
              <h1>342</h1>
              <span>Last 2 months</span>
          </div>
      </div>
  </div>
  <div class="col-md-2">
      <div class="card text-center">
          <div class="item card-body">
              <p class="card-title">HÒN KHÔ</p>
              <h1>123</h1>
              <span>Last 2 days</span>
          </div>
      </div>
  </div>
  <div class="col-md-2">
      <div class="card text-center">
          <div class="item card-body">
              <p class="card-title">TÂY SƠN</p>
              <h1>92</h1>
              <span>Last 3 months</span>
          </div>
      </div>
  </div>
  <div class="col-md-2">
      <div class="card text-center">
          <div class="item card-body">
              <p class="card-title">HÀM HÔ</p>
              <h1>70</h1>
              <span>Last 7 days</span>
          </div>
      </div>
  </div>
</div>

<!-- Other Content -->
<div class="row mt-4">
  <div class="col-md-4">
      <div class="item1 card">
          <div class="card-body">
              <h5 class="card-title">List Danh Mục</h5>
              <ul class="list-group">
                  <li class="item2  list-group-item">
                      <input type="checkbox"> Tour một ngày tại Quy Nhơn
                  </li>
                  <li class="item2 list-group-item">
                      <input type="checkbox"> Tour hai ngày tại Quy Nhơn
                  </li>
                  <li class="item2 list-group-item"><input type="checkbox"> Tour dài ngày tại Quy Nhơn - Phú Yên
                  </li>
              </ul>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="card">
          <div class="item3 card-body">
              <h5 class="card-title">QUY NHƠN - BÌNH ĐỊNH</h5>
              <p>Mùa hè đã đến, còn chần chờ gì mà không xách vali lên và lưu ngay những trải nghiệm đáng nhớ tại thành phố biển xinh đẹp này.
              Quy Nhơn - Bình Định được mệnh danh là thành phố xinh đẹp ven biển miền Trung. Hàng năm, nơi đây thu hút đông đảo khách du lịch trong nước và quốc tế. Quy Nhơn không chỉ được biết đến bởi các điểm tham quan đẹp, mà còn là nơi lưu giữ nét văn hóa - lịch sử của người Việt xưa tại Bình Định.</p>
              <canvas id="betaProgress"></canvas>
          </div>
      </div>
  </div>
  <div class="col-md-4">
      <div class="card">
          <div class="item4 card-body">
              <h5 class="card-title">PHÚ YÊN - TUY HÒA</h5>
              <p>Du lịch Phú Yên được du khách quan tâm bởi cảnh đẹp, sự hoang sơ và nét hồn hậu của người dân địa phương. Vẻ đẹp của Phú Yên còn được thăng hạng hơn nữa trong bản đồ các điểm du lịch tuyệt đỉnh của Việt Nam sau khi nhiều nhà làm phim điện ảnh, truyền hình chọn đây làm bối cảnh làm phim. Hãy cùng khám phá Phú Yên - vùng đất của hoa vàng cỏ xanh nhé!</p>
              <canvas id="salesReport"></canvas>
          </div>
      </div>
  </div>
     </div>
